form.main(method="GET", action="/todos")
  input(id="search", name="q")
  button(type="submit") Search
ul.todo-list
  each todo in todos
    li(id=todo.id) #{todo.content}
a(href="/todos/create") Add new todo